<!DOCTYPE html>
<html>
  <head>
    <title><%= tituloWebSite %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= tituloWebSite %></h1>
    <p>Welcome to <%= tituloWebSite %></p>

    <% include footer %>
  </body>
</html>
